/* Put your CSS here */

body {
  background-color: #A9A9A9;
}

img {
  width: 105%;
  height: 105%;
}

.ember-application {
    margin: 20px;
    color: white;
}

.row {
  margin: 15px;
  padding: 10px;
}
