/* Put your CSS here */

body {
  background-color: #A9A9A9;
}

img {
  width: 196.65px;
  height: 200px;
}

.ember-application {
    margin: 20px;
    color: white;
}

.row {
  margin: 15px;
  padding: 10px;
}
